
h1{
  font-family: "Georgia";
  font-size: 16px;
  color: Blue;
}

#Goals {
  font-family: "Helvetica";
  font-size: 14px;
  color: DodgerBlue;
  font-weight: 400;
  border: 1px dotted Blue;
}

#AboutMe {
  font-size:14px;
}

ul {
  font-size: 12px;
}

li {
  font-size: 12px;
}

ul, li {
    border: 2px solid Red;
}

img {
  border:1px solid black;
}

table, td, tr {
  border: 1px solid black;
  border-collapse: collapse;
}
