


#container {
  display: grid;
  background-color: #00008b;
  grid-template-rows: 300px 50px 400px 500px ;
  grid-template-columns: 1fr;
}

#banner {
  background-color: white;
}

header {
 display: flex;
 grid-column: 4fr;
 color: White;
 font-family: "Times New Roman";
 font-size: 28px;
}

h1{
  font-family: "Georgia";
  font-size: 16px;
  color: White;
}

#Goals {
  font-family: "Helvetica";
  font-size: 14px;
  color: White;
  font-weight: 400;
  border: 1px dotted Blue;
}

#AboutMe {
  font-size:14px;
}

ul, li {
    font-siz: 12px;
    border: 1px solid Red;
}

img {
  border:1px solid black;
  padding: 10px 10px;
}

table, td, tr {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.Frank
  {
    background-color: #ccffff;
    margin: 0px 10px;
}
